body{
  font-family: 'Noto Sans', sans-serif;
}

.is-link{
  background-color: darkslategrey !important;
}
.button.is-link:hover{
  /* background-color: #4F422F !important; */
  background-color: #63887E !important;
}
.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}
span.tag.skill{
  font-weight: 700;
  font-size: 1rem;
  margin-right: .5em;
  margin-bottom: .5em;
}


.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}
