.chart-outter-container{
    height: 500px;
    width: 430px;
}
.chart-container{
    height: 80%;
    width: 100%;
}
#donut-chart-container{}
#bar-chart-container{
    /* width: 350px; */
}


svg{
	overflow: hidden;
}

body{
    background-color: #BEE4F0;
}

h2.chart-header{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #117CAE;
}